.clients {
  padding: 60px 0 0;

  &__title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 14px;
    color: #323264;
    text-align: center;
    margin-bottom: 30px;
  }

  &__rows {
    border-radius: 12px;
    overflow: hidden;
  }

  &__row {
    display: block;
    width: 100%;
    height: auto;
  }
}
